* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 100%; /* Base font size */
}

/* Buttons */
button {
font-size: large;
background-color: rgb(133,133,172); /* Button color */
color: white; /* Button text color */
border: none; /* No border */
padding: 0.5rem 1rem; /* Padding */
border-radius: 4px; /* Rounded corners */
cursor: pointer; /* Pointer cursor */
}

button:hover {
background-color: #0056b3; /* Darker button color on hover */
}
/* Links */
a {
color: #007BFF; /* Link color */
text-decoration: none; /* No underline */
}

a:hover {
text-decoration: underline; /* Underline on hover */
}
/* Utility classes */
.text-center {
text-align: center; /* Center text */
}

.container {
max-width: 1200px; 
min-width: 100px;
margin: 0 auto; 
padding: 1rem; 
}

.grid {
    display: grid;
    min-width: 400px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    border: 30px solid rgb(100, 52, 25);
    background-color: #3d2107;
    padding: 5px;
    /* justify-self: start */
}

.card {
    background-color: #fafafa;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 50px;
    /* padding-right: 10px; */
    border: 2px solid rgb(150, 92, 59);
    border-left: 15px solid rgb(150, 92, 59);
    /* justify-content: space-between;    */
    box-shadow: 0px 10px 20px -15px #6b6b6b;
    text-align: center;
    /* align-content: space-evenly; */
}


.cardTitle {
    margin-bottom: 50px;
    background-color: rgb(209, 143, 105);
    color: #fafafa;
}